%button {
  padding: 5px 15px;
  background-color: rgb(89, 92, 226);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  overflow-wrap: break-word; 

  &:hover{
    background-color: rgb(166, 211, 219);
  }
}


.urlinfo {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;

  &__input-form {
    padding: 10px;
    border: 1px solid;
    display: flex;
    margin-bottom: 10px;
  }

  &__input {
    flex-basis: 200px;
    flex-grow: 1;
  }

  &__button {
    @extend %button;
  }

  &__list {
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__default-text {
    font-size: 18px;
    font-style: italic;
    color: #ccc;
  }
}

.record {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 5px 5px 2px grey;

  &--absent {
    background-color: rgb(247, 212, 212);
  }

  &__title,
  &__url,
  &__descr {
    overflow-wrap: break-word;
  }

  &__title {
    width: 150px;
  }

  &__url {
    width: 120px;
  }

  &__descr {
    width: 250px;
  }

  &__img-cont {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;

    & img {
      max-height:100%; 
      max-width:100%;
      display: block;
      margin: 0 auto;
      transition: 0.5s transform ease 0.3s;

      &:hover {
        transform: scale(2);
      }
    }
  }

  &__del-button {
    @extend %button;
  }
}